argcomplete==1.12.2
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
boto==2.49.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cloudpickle==1.2.1
configparser==5.0.1
crcmod==1.7
cryptography==3.3.1
cycler==0.10.0
cython==0.29.13
decorator==4.4.0
defusedxml==0.6.0
docker-pycreds==0.4.0
entrypoints==0.3
enum34==1.1.6
fasteners==0.16
future==0.17.1
gcs-oauth2-boto-plugin==2.7
gitdb==4.0.5
gitpython==3.1.12
google-apitools==0.5.31
google-reauth==0.1.1
gsutil==4.57
gym==0.18.0
httplib2==0.18.1
idna==2.10
importlib-metadata==3.3.0
ipykernel==5.1.1
ipython-genutils==0.2.0
ipython==7.7.0
ipywidgets==7.5.1
jedi==0.14.1
jinja2==2.10.1
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter==1.0.0
jupyterlab-server==1.0.0
jupyterlab==1.0.4
kiwisolver==1.1.0
learn2learn==0.1.5
markupsafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mock==2.0.0
monotonic==1.5
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.0.0
numpy==1.17.0
oauth2client==4.1.3
pandas==0.25.0
pandocfilters==1.4.2
parso==0.5.1
pbr==5.5.1
pexpect==4.7.0
pickleshare==0.7.5
pillow==6.1.0
pip==19.2.1
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.9
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.6.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pyglet==1.5.0
pygments==2.4.2
pygobject==3.26.1
pyopenssl==20.0.1
pyparsing==2.4.2
pyrsistent==0.15.4
python-apt==1.6.4
python-dateutil==2.8.0
python-distutils-extra==2.39
pytz==2019.2
pyu2f==0.1.5
pyyaml==5.1.2
pyzmq==18.0.2
qtconsole==4.5.2
requests==2.25.1
retry-decorator==1.1.1
rsa==4.6
scikit-learn==0.21.3
scipy==1.3.0
send2trash==1.5.0
sentry-sdk==0.19.5
setuptools==41.0.1
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
subprocess32==3.5.4
terminado==0.8.2
testpath==0.4.2
torch-nightly==1.2.0.dev20190805
torch==1.1.0
torchvision==0.4.0a0+d31eafa
tornado==6.0.3
tqdm==4.55.2
traitlets==4.3.2
typing-extensions==3.7.4.3
typing==3.7.4
urllib3==1.26.2
wandb==0.10.12
watchdog==1.0.2
wcwidth==0.1.7
webencodings==0.5.1
wheel==0.33.4
widgetsnbextension==3.5.1
zipp==3.4.0